<div class="flex-row justify-center">
  <div class="flex justify-end">
    <button
      (click)="addInventory()"
      class="text-white bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 font-medium rounded-lg text-lg px-6 py-3 text-center me-2 mb-2"
    >
      Adauga linie in inventar
    </button>
  </div>

  <form [formGroup]="inventoryForm">
    <div class="grid gap-6 mb-6 md:grid-cols-1">
      <label
        for="productId"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >
        Produs:
        <select
          formControlName="shopProductId"
          type="text"
          id="shopProductId"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Produs"
          required
        >
          <option *ngFor="let option of productOptions" [value]="option.id">
            {{ option.name }}
          </option>
        </select>
      </label>
      <div>
        <label
          for="quantity"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Cantitate</label
        >
        <input
          formControlName="quantity"
          type="number"
          id="quantity"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Cantitate"
          required
        />
      </div>
      <div>
        <label
          for="minimumLevel"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Nivel Minim</label
        >
        <input
          formControlName="minimumLevel"
          type="text"
          id="minimumLevel"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Nivel Minim"
          required
        />
      </div>
      <div>
        <label
          for="description"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Descriere</label
        >
        <input
          formControlName="description"
          type="text"
          id="description"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Descriere"
          required
        />
      </div>
    </div>
  </form>
</div>
