<nav 
  class="fixed top-0 z-50 w-full bg-latte-400 border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700"
>
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start">
        <button
          data-drawer-target="logo-sidebar"
          data-drawer-toggle="logo-sidebar"
          aria-controls="logo-sidebar"
          type="button"
          class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        >
          <span class="sr-only">Open sidebar</span>
          <svg
            class="w-6 h-6"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              clip-rule="evenodd"
              fill-rule="evenodd"
              d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
            ></path>
          </svg>
        </button>
        <a class="flex ml-2 md:mr-24">
          <span
            class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap text-latte-200 dark:text-white"
            > MyCoffeShop </span
          > <span *ngIf="this.api.getTokenUserInfo()?.locationId"
          class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap text-latte-200 dark:text-white"
          > {{ ' -  ' + this.api.getTokenUserInfo()?.locationName }} </span
        > 
        </a>
      </div>
      <div class="flex items-center" >
        <div class="flex items-center ml-3">
          <div>
            <button
              type="button"
              class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
              aria-expanded="false"
              data-dropdown-toggle="dropdown-user"
            >
              <span class="sr-only">Open user menu</span>
              <img
                class="w-8 h-8 rounded-full"
                src="https://www.dralexanderloyd.com/images/main/profile-default.png"
                alt="user photo"
              />
            </button>
          </div>
          <div
            class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600"
            id="dropdown-user"
          >
            <div class="px-4 py-3" role="none">
              <p class="text-sm text-gray-900 dark:text-white" role="none">
                Nume: {{ this.api.getTokenUserInfo()?.firstName | titlecase }} {{ this.api.getTokenUserInfo()?.lastName | titlecase }}
              </p>
              <p
                class="text-sm text-gray-900 dark:text-white"
                role="none"
              >
                Rol: {{ this.api.getTokenUserInfo()?.role  | titlecase }}
              </p>
              <p *ngIf="this.api.getTokenUserInfo()?.locationId" class="text-sm font-medium text-gray-900 truncate dark:text-gray-300" role="none">
                {{ this.api.getTokenUserInfo()?.locationName | titlecase }} 
              </p>
              <p
                class="text-sm font-medium text-gray-900 truncate dark:text-gray-300"
                role="none"
              >
                Email: {{ this.api.getTokenUserInfo()?.email | titlecase }}
              </p>
            </div>
            <ul class="py-1" role="none">
              <li>
                <a href="start"
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                  role="menuitem"
                  (click)="logOut()"
                  >Log out</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<aside *ngIf="this.api.isLoggedIn()"
  id="logo-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
  aria-label="Sidebar"
>
  <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
    <ul class="space-y-2 font-medium">
      <li>
        <a
          routerLink="/users"
          href="#"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-latte-500 dark:hover:bg-gray-700 group"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="26"
            height="26"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#8a553e"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
            <circle cx="9" cy="7" r="4"></circle>
            <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
            <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
          </svg>
          <span class="ml-3">Utilizatori</span>
        </a>
      </li>
      <li>
        <a
          href="/employees"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-latte-500 dark:hover:bg-gray-700 group"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="26"
            height="26"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#8a553e"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              fill-rule="evenodd"
              d="M8 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4H6Zm7.25-2.095c.478-.86.75-1.85.75-2.905a5.973 5.973 0 0 0-.75-2.906 4 4 0 1 1 0 5.811ZM15.466 20c.34-.588.535-1.271.535-2v-1a5.978 5.978 0 0 0-1.528-4H18a4 4 0 0 1 4 4v1a2 2 0 0 1-2 2h-4.535Z"
              clip-rule="evenodd"
            />
          </svg>
          <span class="flex-1 ml-3 whitespace-nowrap">Angajati</span>
        </a>
      </li>
      <li>
        <a
          href="/shop-orders"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-latte-500 dark:hover:bg-gray-700 group"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="26"
            height="26"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#8a553e"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
            <line x1="16" y1="2" x2="16" y2="6"></line>
            <line x1="8" y1="2" x2="8" y2="6"></line>
            <line x1="3" y1="10" x2="21" y2="10"></line>
          </svg>
          <span class="flex-1 ml-3 whitespace-nowrap">Comenzi Magazin</span>
        </a>
      </li>
      <li>
        <a
          href="/shop-products"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-latte-500 dark:hover:bg-gray-700 group"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="26"
            height="26"
            viewBox="0 0 24 24"
            fill="#8a553e"
            viewBox="0 0 24 24"
          >
            <path
              fill-rule="evenodd"
              d="M8 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1h2a2 2 0 0 1 2 2v15a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h2Zm6 1h-4v2H9a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2h-1V4Zm-3 8a1 1 0 0 1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1Zm-2-1a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H9Zm2 5a1 1 0 0 1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1Zm-2-1a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H9Z"
              clip-rule="evenodd"
            />
          </svg>
          <span class="flex-1 ml-3 whitespace-nowrap">Produse Magazin</span>
        </a>
      </li>
      <li>
        <a
          href="/inventories"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-latte-500 dark:hover:bg-gray-700 group"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="26"
            height="26"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#8a553e"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              stroke="#8a553e"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2.5"
              d="M15 4h3a1 1 0 0 1 1 1v15a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h3m0 3h6m-3 5h3m-6 0h.01M12 16h3m-6 0h.01M10 3v4h4V3h-4Z"
            />
          </svg>
          <span class="flex-1 ml-3 whitespace-nowrap">Inventar Magazin</span>
        </a>
      </li>
      <li>
        <a
          href="/sale-products"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-latte-500 dark:hover:bg-gray-700 group"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="26"
            height="26"
            viewBox="0 0 24 24"
            fill="#8a553e"
            viewBox="0 0 24 24"
          >
            <path
              fill-rule="evenodd"
              d="M8 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1h2a2 2 0 0 1 2 2v15a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h2Zm6 1h-4v2H9a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2h-1V4Zm-3 8a1 1 0 0 1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1Zm-2-1a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H9Zm2 5a1 1 0 0 1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1Zm-2-1a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H9Z"
              clip-rule="evenodd"
            />
          </svg>
          <span class="flex-1 ml-3 whitespace-nowrap">Produse Vanzare</span>
        </a>
      </li>
      <li>
        <a
          href="/sale-orders"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-latte-500 dark:hover:bg-gray-700 group"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="26"
            height="26"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#8a553e"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
            <line x1="16" y1="2" x2="16" y2="6"></line>
            <line x1="8" y1="2" x2="8" y2="6"></line>
            <line x1="3" y1="10" x2="21" y2="10"></line>
          </svg>
          <span class="flex-1 ml-3 whitespace-nowrap">Comenzi Vânzare</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
