<div class="flex-row justify-center">
  <form [formGroup]="employeeForm" (ngSubmit)="addEmployee()">
    <div class="flex justify-end">
    <button
      type="submit"
      [disabled]="!employeeForm.valid"
      class="text-white bg-gradient-to-r from-latte-300 via-latte-200 to-latte-100 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 font-medium rounded-lg text-lg px-6 py-3 text-center me-2 mb-2"
    >
      Adauga angajat
    </button>
  </div>

    <div class="grid gap-6 mb-6 md:grid-cols-2">
      <div>
        <label
          for="firstName"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Nume</label
        >
        <input
          formControlName="firstName"
          type="text"
          id="firstName"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Nume"
          required
        />
      </div>
      <div>
        <label
          for="lastName"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Prenume</label
        >
        <input
          formControlName="lastName"
          type="text"
          id="lastName"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Prenume"
          required
        />
      </div>
      <div>
        <label
          for="salaryNet"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Salariu Net</label
        >
        <input
          formControlName="salaryNet"
          type="number"
          id="salaryNet"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Salariu Net"
        />
      </div>
      <div>
        <label
          for="salaryBrut"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Salariu Brut</label
        >
        <input
          formControlName="salaryBrut"
          type="number"
          id="salaryBrut"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Salariu Brut"
        />
      </div>
      <div>
        <label
          for="taxes"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Taxe</label
        >
        <input
          formControlName="taxes"
          type="number"
          id="taxes"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Taxe"
        />
      </div>

      <div>
        <label
          for="file"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Fotografie angajat</label
        >
        <input
          formControlName="file"
          class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
          id="file"
          type="file"
          (change)="onChange($event)"
        />
      </div>
    </div>
  </form>
</div>
