<div class="flex-row justify-center">
  <nav class="flex mb-4" aria-label="Breadcrumb">
    <ol
      class="inline-flex items-center space-x-1 md:space-x-3 rtl:space-x-reverse"
    >
      <li class="inline-flex items-center">
        <a
          href="#"
          class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white"
        >
          <svg
            class="w-3 h-3 me-2.5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"
            />
          </svg>
          Acasa
        </a>
      </li>
      <li>
        <div class="flex items-center">
          <svg
            class="w-3 h-3 text-gray-400 mx-1 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 9 4-4-4-4"
            />
          </svg>
          <a
            href="/employees"
            class="ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2 dark:text-gray-400 dark:hover:text-white"
            >Angajati</a
          >
        </div>
      </li>
      <li>
        <div class="flex items-center">
          <svg
            class="w-3 h-3 text-gray-400 mx-1 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 9 4-4-4-4"
            />
          </svg>
          <a
            href="/add-employee"
            class="ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2 dark:text-gray-400 dark:hover:text-white"
            >{{
              this.entityId === undefined
                ? "Adauga angajat nou"
                : "Actualizeaza angajat"
            }}</a
          >
        </div>
      </li>
    </ol>
  </nav>
  <form *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="saveEmployee()">
    <h1 class="mb-6 mx-9 mt-8 text-xl font-medium text-gray-900">
      {{
        this.entityId === undefined
          ? "Adauga angajat nou"
          : "Actualizeaza angajat"
      }}
    </h1>
    <div class="mb-6 mx-9">
      <label
        for="file"
        class="block mb-2 mr-4 text-sm font-medium text-gray-900 dark:text-white"
        >Fotografie angajat</label
      >
      <div class="flex items-center">
        <ng-container *ngIf="employeePhoto">
          <img
            class="w-10 h-10 rounded-full mr-4"
            [src]="employeePhoto"
            alt="avatar"
          />
        </ng-container>
        <input
          formControlName="file"
          class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
          id="file"
          type="file"
          (change)="onChange($event)"
        />
      </div>
    </div>
    <div class="grid gap-6 mb-10 md:grid-cols-2 mx-9">
      <div>
        <label
          for="firstName"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Nume</label
        >
        <input
          formControlName="firstName"
          type="text"
          id="firstName"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Nume"
          required
        />
      </div>
      <div>
        <label
          for="lastName"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Prenume</label
        >
        <input
          formControlName="lastName"
          type="text"
          id="lastName"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Prenume"
          required
        />
      </div>
      <div>
        <label
          for="employeeTypeId"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Tip angajat</label
        >
        <select
          formControlName="employeeTypeId"
          type="text"
          id="employeeTypeId"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Tip angajat"
          required
        >
          <option
            *ngFor="let option of employeeTypeOptions"
            [value]="option.id"
          >
            {{ option.name }}
          </option>
        </select>
      </div>
    </div>
    <h1 class="mb-6 mx-9 text-lg font-medium text-gray-900">Financiar</h1>
    <div class="grid gap-6 mb-6 md:grid-cols-3 mx-9">
      <div>
        <label
          for="salaryNet"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Salariu Net</label
        >
        <input
          formControlName="salaryNet"
          type="number"
          id="salaryNet"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Salariu Net"
        />
      </div>
      <div>
        <label
          for="salaryBrut"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Salariu Brut</label
        >
        <input
          formControlName="salaryBrut"
          type="number"
          id="salaryBrut"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Salariu Brut"
        />
      </div>
      <div>
        <label
          for="taxes"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Taxe</label
        >
        <input
          formControlName="taxes"
          type="number"
          id="taxes"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Taxe"
        />
      </div>
    </div>

    <h1 class="mb-6 mx-9 text-lg font-medium text-gray-900">
      Configurare Utilizator
    </h1>
    <div class="flex mx-9 pb-9">
      <div class="w-96">
        <label
          for="userId"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Alege utilizator existent</label
        >
        <select
          formControlName="userId"
          type="text"
          id="userId"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Alege Utilizator"
          required
        >
          <option *ngFor="let option of userOptions" [value]="option.id">
            {{
              "Email: " +
                option.email +
                " Nume: " +
                option.firstName +
                " " +
                option.lastName
            }}
          </option>
        </select>
      </div>

      <!-- Modal toggle -->
      <button
        class="text-white bg-blue-700 mx-9 mt-6 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 "
        type="button"
        (click)="openModal()"
      >
        Creare Utilizator Nou
      </button>
    </div>
      
      <!-- Main modal -->
      <div
        id="static-modal"
        data-modal-backdrop="static"
        tabindex="-1"
        aria-hidden="true"
        class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
      >
        <div class="relative p-4 w-full max-w-2xl max-h-full">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div
              class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
            >
              <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                Creare Utilizator Nou
              </h3>
              <button
                type="button"
                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                (click)="closeModal()"
              >
                <svg
                  class="w-3 h-3"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 14"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                  />
                </svg>
                <span class="sr-only">Close modal</span>
              </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4 flex items-center">
              <form [formGroup]="registerForm" class="w-1/2 p-4 mx-auto text-center ">
                <div class="mb-4 text-lg">
                  <input
                    formControlName="email"
                    class="rounded-3xl border-none bg-gray-400 bg-opacity-50 px-6 py-2 text-center text-inherit placeholder-slate-200 shadow-lg outline-none backdrop-blur-md"
                    type="text"
                    name="email"
                    placeholder="Email"
                  />
                  <div
                    *ngIf="
                    registerForm.get('email')?.errors?.['required'] &&
                    registerForm.get('email')?.touched
                  "
                    class="text-red-500"
                  >
                    Adresa de email este obligatorie
                  </div>
                  <div
                    *ngIf="
                    registerForm.get('email')?.errors?.['email'] &&
                    registerForm.get('email')?.touched
                  "
                    class="text-red-500"
                  >
                    Invalid format email
                  </div>
                </div>

                <div class="mb-4 text-lg">
                  <input
                    formControlName="password"
                    class="rounded-3xl border-none bg-gray-400 bg-opacity-50 px-6 py-2 text-center text-inherit placeholder-slate-200 shadow-lg outline-none backdrop-blur-md"
                    type="password"
                    name="password"
                    placeholder="Parola"
                  />
                  <div
                    *ngIf="
                    registerForm.get('password')?.errors?.['required'] &&
                    registerForm.get('password')?.touched
                  "
                    class="text-red-500"
                  >
                    Parola este obligatorie
                  </div>
                  <div
                    *ngIf="
                  registerForm.get('password')?.errors?.['minlength'] &&
                  registerForm.get('password')?.touched
                "
                    class="text-red-500"
                  >
                    Parola trebuie sa aiba minim 6 caractere.
                  </div>
                </div>
              </form>
            </div>
            <!-- Modal footer -->
            <div
              class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600"
            >
              <button
                [disabled]="!registerForm.valid"
                (click)="saveNewUser()"
                data-modal-hide="static-modal"
                type="button"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              >
                Salveaza
              </button>
              <button
                data-modal-hide="static-modal"
                type="button"
                class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
              >
                Inapoi
              </button>
            </div>
          </div>
        </div>
      </div>

    <div class="flex justify-start">
      <button
        *ngIf="formGroup.valid"
        type="submit"
        [disabled]="!formGroup.valid"
        class="text-white bg-gradient-to-r from-latte-200 to-latte-100 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 font-medium rounded-lg text-lg px-6 py-3 text-center mx-9 mb-2"
      >
        Salveaza
      </button>
      <button
        *ngIf="!formGroup.valid"
        type="submit"
        [disabled]="!formGroup.valid"
        class="text-white bg-gray-500 cursor-not-allowed font-medium rounded-lg text-lg px-6 py-3 text-center mx-9 mb-2"
        disabled
      >
        Salveaza
      </button>
    </div>
  </form>
</div>
