<div class="flex justify-end mb-4">
  <a
    href="/add-employee"
    class="text-white bg-gradient-to-r from-latte-300 via-latte-200 to-latte-100 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-4 py-2 text-center me-2 mb-2"
  >
    Adaugă angajat nou
  </a>
</div>

<div class="relative overflow-x-auto">
  <table
    #grid
    class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Edit</th>
        <th scope="col" class="px-6 py-3">Id</th>
        <th scope="col" class="px-6 py-3">Poza</th>
        <th scope="col" class="px-6 py-3">Nume</th>
        <th scope="col" class="px-6 py-3">Prenume</th>
        <th scope="col" class="px-6 py-3">Salariu Net</th>
        <th scope="col" class="px-6 py-3">Salariu Brut</th>
        <th scope="col" class="px-6 py-3">Taxe</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let employee of employees"
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
      >
        <td class="px-6 py-4">
          <a [routerLink]="['/add-employee', employee.id]">
            <svg
              class="w-6 h-6 text-gray-500 hover:text-gray-700"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15.232 5.232l3.536 3.536M9 13l6-6M4 20h16M4 20a1 1 0 011-1h14a1 1 0 011 1M4 20l-1 1m17-1l1 1"
              ></path>
            </svg>
          </a>
        </td>
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ employee.id }}
        </th>
        <td class="flex items-center p-4 mr-12 space-x-6 whitespace-nowrap">
          <ng-container *ngIf="employee">
            <img
              class="w-10 h-10 rounded-full"
              [src]="getProfilePhoto(employee)"
              alt="avatar"
            />
            <!-- <div class="text-sm font-normal text-gray-500 dark:text-gray-400">
              <div class="text-base font-semibold text-gray-900 dark:text-white"> {{ employee.firstName }}  {{ employee.lastName }}</div>
              <div class="text-sm font-normal text-gray-500 dark:text-gray-400">neil.sims@flowbite.com</div>
          </div> -->
          </ng-container>
        </td>
        <td class="px-6 py-4">
          {{ employee.firstName }}
        </td>
        <td class="px-6 py-4">
          {{ employee.lastName }}
        </td>
        <td class="px-6 py-4">
          {{ employee.salaryNet }}
        </td>
        <td class="px-6 py-4">
          {{ employee.salaryBrut }}
        </td>
        <td class="px-6 py-4">
          {{ employee.taxes }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
